<!-- _includes/projects.html -->
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
  {%- endif %}
    <div class="card hoverable">
      {%- if project.img %}
      {%- include figure.html
        path=project.img
        alt="project thumbnail"
        class=project.imgclass -%}
      {%- endif %}
      <h2 class="card-title text-uppercase">{{ project.title }}</h2>
      <p class="card-text">{{ project.description }}</p>
    </div>
  </a>
</div>