---
layout: default
---

<!-- about2.html -->
<section class="about-section">
    <header>
        <h1>
            {% if site.title == "blank" -%}
            <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
            {%- else -%}
            {{ site.title }}
            {%- endif %}
        </h1>

        <div class="slogan">
            <ul>
                {% for val in page.slogan %}
                <li>{{ val }}</li>
                {% endfor %}
            </ul>
            <span class="expert">expert</span>
        </div>
    </header>

    <div class="about-content">
        {{ content }}
    </div>

    {%- if page.profile.image %}
    {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
    {%- assign profile_image_class = "about-img" -%}

    {% include figure.html
    path=profile_image_path
    class=profile_image_class
    alt=page.profile.image
    cache_bust=true -%}
    {% endif -%}

    <div class="socials">
        {% include social.html %}
    </div>
</section>

<section class="skills-section">
    <h1>My Skillset</h1>
    <div class="skills-content">
        {%- for skill in page.skills -%}
        <div class="skills-skill">
            <label>{{ skill.name }}</label>
            <progress value="{{ skill.value }}" max="100" />
        </div>
        {%- endfor -%}
    </div>
</section>
